/*============ Reset footer ============
    Author: Frog Tran
====================================*/
html, body {
    height: 100%;
}

#ri-container {
    min-height: 100%;
    margin-bottom: -180px;
    position: relative;
}

#footer {
    height: 180px;
    position: relative;
    background-color: red;
}

.clear-footer {
    height: 180px;
    clear: both;
}

/*=================================== reset table, box sizing ===================================*/
.wrapper-978 {
    margin: 0 auto;
    width: 978px;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*=================================== table ===================================*/

.table-color {
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    border-right: 0px none;
}
.table-color th {
    color: #fff;
}
.table-color td {
    border-left: 1px solid #cacaca;
}
.table-color td:last-child {
    border-right: 1px solid #cacaca;
}

.table-green {
    border-top: 1px solid #288c10;
    border-left: 0;
    border-right: 0px none;
}
.table-green th {
    border-left: 1px solid #288c10;
    background-color: #33b116;
}
.table-green th:last-child {
    border-right: 1px solid #288c10;
}

.table-grey {
    border-top: 1px solid #222;
    border-left: 0;
    border-right: 0px none;
}
.table-grey th {
    border-left: 1px solid #222;
    background-color: #333;
}
.table-grey th:last-child {
    border-right: 1px solid #222;
}

/*=================================== Begin CSS here ===================================*/
#header {
    color: #333;
    height: 30px;
    margin-top: 30px;
}
#logo {
    margin-top: -10px;
}
.ie8 #nav-cart {
    width: 190px;
}
#nav-cart > span {
    font-family: Arial;
    font-size: 11px;
    margin-right: 5px;
}
#nav-cart > span > a {
    color: #949494;
}
#nav-cart > span > a:hover {
    text-decoration: none;
    color: #ea0000;
}
#item-cart {
    color: #ea0000;
}
#content {

}
.navbar .container {
    padding-top: 3px;
}
.navbar-inner {
    background: #fff;
    box-shadow: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    padding-right: 0px;
    padding-left: 5px;
    filter: none;
}
.ie8 .navbar-inner {
    width: 978px;
}
.navbar .btn {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar .nav > li {
    padding-right: 20px;
}
.navbar .nav > li > a, .navbar .nav .active > a:hover {
    background: none;
    color: #2f2f2f;
    font-family: Arial;
    font-size: 12px;
    text-shadow: none;
}
.navbar .nav .active > a {
    background: none;
    color: #ea0000;
    text-decoration: underline;
}
.navbar .nav > li > a:hover, .navbar .nav .active > a:hover {
    color: #ea0000;
    text-decoration: underline;
}
.form-search {
    margin-bottom: 0px;
}
.form-search .button {
    background-color: #b6b6b6;
    color: #fff;
    border: none;
    height: 26px;
}
.ie7 .form-search .button {
    background-color: #b6b6b6;
    color: #fff;
    border: none;
    height: 26px;
    width: 30px;
}
.ie7 .search-query, input[type=text] {
    border-radius: 0;
    height: 16px;
    margin-right: 5px;
}
.search-query, input[type=text] {
    border-radius: 0;
    height: 26px;
    margin-right: 0px;
}
.search-query, input[type=text]:focus {
    border-color: rgba(213, 213, 213, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
}
.ie9 .search-query, input[type=text]:focus {
    border-color: rgba(213, 213, 213, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(213, 213, 213, 0.6);
}
.nav li {
    list-style: none inside;
    height: 25px;
    line-height: 25px;
    position: relative;
}
.nav li a{
    color: white;
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
.nav li li {
    border-bottom: 1px solid #d9d9d9;
    width: 160px;
    height: 26px;
}
.ie9 .nav li li {
    width: 180px;
}
.ie7 .nav li li {
    border-bottom: 1px solid #d9d9d9;
    width: 180px;
    height: 26px;
}
.nav li li a{
    display: block;
    color: #2f2f2f;
    background: #fff;
    font-family: Arial;
    font-size: 11px;
}
.nav li li a:hover {
    color: #d9d9d9;
}
.nav li li .active {
    color: #d9d9d9;
}
.nav ul {
    border: 1px solid #f8f8f8;
    display: none;
    position: absolute;
    top: 36px;
    left: -15px;
}
.ie7 .nav ul {
    display: none;
    position: absolute;
    top: 30px;
    left: -33px;
}
.nav li:hover ul {
    display: block;
}